@import "constants/colors";

.scoreboard-container {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 36px;

  > .kills-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: $DARK_GREY;
    height: 48px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
    > img {
      width: 21px;
    }
    > p {
      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }
}
