.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  > p {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &.locale {
    > p.score {
      display: inline-block;
      margin-right: 10px;
    }
  }

  &.visitor {
    > p.score {
      display: inline-block;
      margin-left: 10px;
    }
  }

  img {
    width: 12px;
    height: auto;
  }
}
